
<title>Website Title</title>

<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    text-align: center;
}    
h1{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #3e1861;
    font-size: 2.5em;
}
</style>
<h3>See what we have to offer</h3>
<br />
{% block body %}{% endblock %}
<br />
<a href="/listmouthpieces">BROWSE OUR PRODUCTS</a>    
<a href="/addphonecase">Add a New Phone Case</a> 
<a href='/addmouthpiece'>Add a new Mouthpiece</a>
